@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,100&display=swap');
*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    background: #ECDFAB;

}
#home{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    margin-top: 20px;
}

.logo{
    width: 30%;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
}

.logo img{
    width: 75px;
    height: 100%;
}
@media(max-width: 995px){
    .logo{
        height: 50px;
    }
    .logo img{
        width: 50px;
    }
}
.banner .desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 30px;
}
.banner .desc .name{
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    color: #EB5C37;
}
.banner .desc .roles{
    margin: 0;
    font-size: 13px;
    text-align: center;
}
.banner .phone{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}

.banner .phone .number{
    margin: 0;
    font-size: 14px;
    border-radius: 30px;
    padding: 5px 10px;
    font-weight: 600;
    background-color: #F9B122;
}

@media(max-width: 350px){
    .banner .phone .number{
        font-size: 12px;
    }
}

.navbar{
    margin: 50px 0;
    z-index: 99;
}
.navbar ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.navbar ul li{
    margin: 0 30px;
    font-size: 18px;
}
@media(max-width: 700px){
    .navbar ul li{
        margin: 0 15px;
        font-size: 16px;
    }
}
@media(max-width: 490px){
    .navbar ul li{
        margin: 0 8px;
        font-size: 14px;
    }
}
.navbar ul li a{
    color: #1B7754;
    font-weight: 500;
}
.navbar .active{
    color: #ECDFAB;
    background-color: #EB5C37;
    border-radius: 30px;
    padding: 5px 10px;
    font-weight: 600;
}

.hello{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 100px;
    overflow: hidden;

}
.hello img{
    width: 100%;
}

@media(max-width: 1170px){
    .hello{
        padding: 70px;
    }
}
@media(max-width: 900px){
    .hello img{
        margin-top: -80px;
        width: 600px;
    }
}
@media(max-width: 700px){
    .hello img{
        margin-top: -80px;
        width: 500px;
    }
}
@media(max-width: 600px){
    .hello img{
        margin-top: -80px;
        width: 400px;
    }
}
@media(max-width: 500px){
    .hello img{
        margin-top: -80px;
        width: 400px;
    }
}


#collection, .myCollection{
    width: 100%;
    height: auto;
    background-image: url(./images/hello-green.png);
    background-position: 40% 100%;
    background-repeat: no-repeat;
    background-size: 200% 150%;
    margin-top: -100px;
}
@media(max-width: 900px){
    #collection, .myCollection{
        margin-top: -120px;
    }
}

.myCollection, .Collection{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ECDFAB;
    height: auto;
    padding: 50px 0;
}
.Collection{
    flex-direction: column;
    width: 100vw;
}
.overlay{
    width: 100vw;
    height: auto;
    background-color: rgba(16, 102, 85, 0.888);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
@media(max-width: 850px){
    #collection .overlay{
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
    }
    #collection .overlay .texts{
        width: auto;
        padding: 50px 0;
        text-align: center;

    }
    .myCollection, .Collection{
        flex-direction: column;
    }
}
.overlay .texts{
    width: 300px;
    margin: 0 50px;
}
.overlay .texts .akwaaba,
.overlay .texts .name{
    font-size: 40px;
    font-weight: 800;
    color: #ECDFAB;
}
.overlay .texts .about{
    margin: 20px 0;
    color: #ECDFAB;
    font-size: 18px;
}
.overlay .texts .browse{
    width: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 8px;
    margin: 30px 10px 20px 10px;
    border-radius: 20px;
    color: black;
    background-color: #F9B122;
}
.overlay .texts .email{
    color: #ECDFAB;
    margin: 10px 0;
}
.to-those{
    text-align: center;
    color: #1B7754;
    font-size: 14px;
    
}
.swiper-container{
    width: 350px;
    height: 100%;
    margin: 0 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width: 380px){
    .swiper-container{
        width: 250px;
    }
}
.swiper-wrapper{
    display: flex;
    align-items: center;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    cursor: grab;
}
.swiper-pagination {
    width: 350px;
    position: relative;
    bottom: 10px;
    left: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ECDFAB;
    opacity: 1;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background-color: #EB5C37;
}

.myCollection .whatIdo{
    width: 400px;
    height: 400px;
    text-align: justify;
}
@media(max-width: 468px){
    .myCollection .whatIdo{
        width: 300px;
        height: auto;
    }
}
@media(max-width: 310px){
    .myCollection .whatIdo{
        width: 250px;
    }
}
.myCollection .swiper-container{
    background: #ECDFAB;
}


.myCollection .stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myCollection p{
    margin-top: 20px;
}
.myCollection h1{
    color: #1B7754;
    font-weight: 800;
}
.myCollection .projects p{
    margin: 0;
    font-size: 14px;
    color: #1B7754;
    font-weight: 600;
    margin-top: -10px;
}
.myCollection .projects h1{
    font-size: 40px;
}
.whatIdo{
    margin: 0 30px;
}
@media(max-width: 850px){
    .whatIdo{
        margin-top: 50px;
    }
}
.whatIdo .title{
    text-align: center;
}
.myCollection .swiper-container{
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.myCollection .swiper-container .swiper-wrapper{
    width: 100%;
    align-items: center;
    display: flex;
    padding: 0;
}
.myCollection .swiper-slide{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
@media(max-width: 1040px){
    .myCollection .swiper-container{
        margin: 0;
    }
}
@media(max-width: 500px){
    .myCollection .swiper-container{
        width: 350px;
        height: 350px;
    }
    .whatIdo p{
        font-size: 15px;
    }
}
@media(max-width: 380px){
    .myCollection .swiper-container{
        width: 250px;
        height: 250px;
    }
    .whatIdo p{
        font-size: 13px;
    }
}
.myCollection .swiper-pagination-bullet{
    background-color: white;
}
.myCollection .swiper-pagination-bullet-active{
    background-color: #EB5C37;
}
.myCollection .swiper-slide .overtext{
    width: 80%;
    height: 70px;
    left: 0;
    background-color: rgba(0,0,0,.5);
    border-radius: 20px;
    margin-top: -130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.myCollection .swiper-slide .overtext p{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #1B7754;
    font-size: 20px;
    background-color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.myCollection .swiper-slide .overtext h3{
    color: white;
}
.myCollection .swiper-slide img{
    height: 100%;
}
.myCollection .swiper-pagination{
    margin-top: 50px;
}

.collection-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.collection-list .collection-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}
.collection-top p{
    width: 300px;
    color: #1B7754;
    font-size: 12px;
}
.collection-top h1{
    width: auto;
    color: #EB5C37;
}
.collection-list .collection-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}
@media(max-width: 1031px){
    .collection-list .collection-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .collection-list .collection-top{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
@media(max-width: 675px){
    .collection-list .collection-grid{
        grid-template-columns: 1fr;
    }
}
.collection-list .collection-grid .grid-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 80px;
    background-color: #1B7754;
    color: #ECDFAB;
    border-radius: 20px;
    padding-left: 20px;
}
@media(max-width: 315px){
    .collection-list .collection-grid .grid-item{
        width: 280px;
        height: auto;
    }
    .collection-top p{
        width: 270px;
    }
}
@media(max-width: 300px){
    .collection-list .collection-grid .grid-item{
        width: 250px;
        height: auto;
    }
}
.collection-grid .grid-item img{
    width: 35%;
    height: 100%;
    border-radius: 20px;
}
.collection-grid .grid-item h3{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#recent-projects{
    width: 100vw;
    height: auto;
    overflow: hidden;
    background-image: url(./images/hello-green.png);
    background-position: 40% 100%;
    background-repeat: no-repeat;
    background-size: 200% 150%;
}
#recent-projects h1{
    color: #ECDFAB;
    margin-bottom: 30px;
    width: 90%;
}
#recent-projects .overlay{
    width: 100vw;
    overflow: hidden;
    background-color: rgba(16, 102, 85, 0.888);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#recent-projects .swiper-container{
    overflow: visible;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    width: 100vw;
}
#recent-projects .swiper-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#recent-projects .swiper-slide img{
    height: 350px;
}
#recent-projects .swiper-slide{
    width: 350px;
    height: 350px;
}
@media(max-width: 360px){
    #recent-projects .swiper-slide img{
        height: 300px;
    }
    #recent-projects .swiper-slide{
        width: 300px;
        height: 300px;
    }
}
@media(max-width: 300px){
    #recent-projects .swiper-slide img{
        height: 280px;
    }
    #recent-projects .swiper-slide{
        width: 280px;
        height: 280px;
    }
}
@media(max-width: 280px){
    #recent-projects .swiper-slide img{
        height: 250px;
    }
    #recent-projects .swiper-slide{
        width: 250px;
        height: 250px;
    }
}

#work-history{
    width: 100vw;
    height: auto;
    background-image: url(./images/mark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 400%;
    
}
#work-history .overlay{
    width: 100%;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    background-color: #ecdfabd9;
}
#work-history h1{
    color: #EB5C37;
    width: 100%;
    margin-bottom: 20px;
}
#work-history .items{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#work-history .items .item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1B7754;
}
#work-history .items .item .role,
#work-history .items .item .place{
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
#work-history .items .item .place .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#work-history .items .item .role{
    width: 60%;
    padding-left: 30px;
    border-left: 1px solid #1B7754;
    flex-direction: column;

}
#work-history .items .item .place::after{
    content: '⬤';
    color: rgba(16, 102, 85, 0.888);
    margin-right: -10px;
    margin-top: 15px;
}

@media(max-width: 995px){
    #work-history .overlay{
        padding: 100px 150px;
    }
}
@media(max-width: 790px){
    #work-history .overlay{
        padding: 100px 75px;
    }
    #work-history .item h3{
        font-size: 20px;
    }
    #work-history .item p{
        font-size: 15px;
    }
}
@media(max-width: 600px){
    #work-history h1{
        text-align: center;
    }
    #work-history .overlay{
        padding: 100px 35px;
    }
    #work-history .item h3{
        font-size: 18px;
    }
    #work-history .item p{
        font-size: 14px;
    }
}
@media(max-width: 460px){
    #work-history .overlay{
        padding: 100px 15px;
    }
    #work-history .item h3{
        font-size: 12px;
    }
    #work-history .item p{
        font-size: 12px;
    }
}
@media(max-width: 381px){
    #work-history .items .item .role{
        padding-left: 10px;
    }
}
#testimonial{
    width: 100vw;
    height: auto;
    background-color: #1B7754;
    margin-top: -50px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ECDFAB;
    text-align: center;
    overflow: visible;
}
#testimonial h1{
    letter-spacing: 1px;
}
#testimonial p{
    width: 80%;
    margin-bottom: 30px;
}
#testimonial .swiper-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 50px;
}
#testimonial .swiper-slide{
    width: 450px;
    height: auto;
    padding: 10px 0;
    border-radius: 30px;
    background-color: #ecdfab5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    cursor: grab;
    margin-bottom: 50px;
}
@media(max-width: 500px){
    #testimonial .swiper-slide{
        width: 350px;
    }
}
@media(max-width: 380px){
    #testimonial .swiper-slide{
        width: 250px;
    }
}
#testimonial .swiper-slide img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#testimonial .swiper-slide p{
    width: 100%;
    padding: 10px 20px;
}
#testimonial .swiper-wrapper{
    justify-content: center;
    width: 100vw;
    overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #ECDFAB;
    border-radius: 50%;
    color: #1B7754;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    content: "";
}
.controller{
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-bottom: 30px;
}

#footer{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 32, 27);
    color: #ECDFAB;
    font-size: 14px;
    padding: 20px 30px;
    text-align: center;
}
#footer a{
    text-decoration: underline;
    color: #ECDFAB;
}
@media(max-width: 480px){
    #footer{
        flex-direction: column;
        justify-content: center;
    }
}